*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(209, 236, 236);
  /*overflow-x: hidden;
  overflow-y:hidden*/
}

/**************************************
Stylos de menu
color:#d9ab0b
mostaza:#f3d75,#e9bf1f
2e2b26
**************************************/
.container-menu{
  position:fixed;
  background-color:#012138;
  width: 18%;
  height: 900px;
  z-index: 9999;
  color:#e9bf1f;
}

.title-menu{
  margin-top:5rem;
}
.img-menu{
  background-color:red;
  border-radius: 180px;
  width: 230px;
  height:230px ;
}
.list-menu{
  padding: 2rem;
  line-height: 3rem;
  background-color: 34474e;
  list-style: none;

}

.list-menu li a{
  /*outline:2px solid red;*/  
 
  display: inline-block;
  width: 100%;
  text-decoration:none; 
  color: #e9bf1f;
  }

.list-menu li{
  border-radius: 0px 20px 20px 0px;
  background-color: #012138;
 
  margin: 1rem 2rem 1rem 2rem;
  width: 60%;
  box-shadow: 5px 0px 10px #ffff;
  -webkit-transition: padding-left 0.6s;  
}

.list-menu li:hover{
  background-color: #e9bf1f;
  color: #012138;
  padding-left: 1.8rem; 
  width: 90%;
    -webkit-transition: padding-left 0.6s;
}

.list-menu li a:hover {
  color: #012138; 
}



/**************************************
Stylos de animacion inicial
**************************************/
.container-animation{
 /* position: absolute;*/
  width: 50%;
  height: 690px;
  text-align: center;
  padding: 0;
  margin: 0;

 /* outline: 2px solid red;*/
}

.text-animation{
  width: 80%;
  list-style: none;
  /*outline: 2px solid blue;*/
  position: absolute;
  left:42%;
  top:50%;
  transform: translateX(-43%) translateY(-50%);
}
.text-animation li{
display: inline-block;
margin-left: 9px;
font-family: 'Barlow Condensed', sans-serif;
font-weight: 300;
font-size: 5em;
color:#010d0e;
opacity: 1;
transition: all 2s ease;
}
.text-animation li:last-child{
  margin-right: 0;
}
.text-animation.hidd{
opacity: 1;
}
.text-animation.hidd li:nth-child(1) {transform: translateX(-180px) translateY(-60px);}
.text-animation.hidd li:nth-child(2) {transform: translateX(20px) translateY(100px);}
.text-animation.hidd li:nth-child(3) {transform: translateX(-150px) translateY(-80px);}
.text-animation.hidd li:nth-child(4) {transform: translateX(10px) translateY(-200px);}
.text-animation.hidd li:nth-child(5) {transform: translateX(100px) translateY(-200px);}
.text-animation.hidd li:nth-child(6) {transform: translateX(-180px) translateY(-100px);}
.text-animation.hidd li:nth-child(7) {transform: translateX(100px) translateY(50px);}
.text-animation.hidd li:nth-child(8) {transform: translateX(-180px) translateY(100px);}
.text-animation.hidd li:nth-child(9) {transform: translateX(-100px) translateY(100px);}
.text-animation.hidd li:nth-child(10) {transform: translateX(-20px) translateY(100px);}
.text-animation.hidd li:nth-child(11) {transform: translateX(300px) translateY(-50px);}
.text-animation.hidd li:nth-child(12) {transform: translateX(300px) translateY(120px);}
.text-animation.hidd li:nth-child(13) {transform: translateX(-30px) translateY(-100px);}

.img1 {
  width: 21rem;
  height: 30rem;
  margin: 0;
}

.img2 {
  width: 10rem;
  margin: 0;
}

.img3 {
  width: 7rem;
  margin: 0;
}

.img4 {
  width: 5rem;
  margin: 0;
}

.img5 {
  width: 4rem;
  margin: 0;
}

.img6 {
  width: 12rem;
  margin: 0;
}

.letra {
  color: blue;
}

/**************************************
Stylos de seccion acerca de mi. Slider
/**************************************/


.color-fondo { 
  font-family: 'Josefin Sans', sans-serif;
  background-color: aliceblue;
  box-shadow: 10px 0px 15px #939393;
  font-size: 1.5rem;
  position: relative;
  left: 30%;
  /*outline: 2px solid rgb(55, 0, 255);*/
  width: 100%;
  height: 640px;
  margin: 0;
  }

.slider{
  text-align: center;  
  width: 100%; 
  overflow: hidden;
  padding: 0; 
  height: 200px;  

}
.slider ul{
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 30s infinite;
  animation-timing-function: ease-in;
  margin:0;
  padding: 0;
}
.slider ul img{  
  display: inline-block; 
  padding: 0;
  margin: 0; 
 /* outline: 2px solid red;*/

}

.slider ul li img:hover {
  filter: grayscale(80%);
}

.slider li{
  display: inline-block;
  list-style: none;
  width: 100%;  
  font-size:3vw;
  text-decoration: none;
  padding: 0%;
  margin: 0;
}

/**************************************
stylos acercademi-textos
***************************************/
.txt{
  display: block;
  margin-top: 1rem;
 /* outline: 2px solid red;*/
   box-shadow: 10px 0px 15px #939393;
   padding: 1rem;
}

.img-txt img{
  margin-top:2rem;
  border-radius:100%;
  width: 50px;
  height: 50px;
  box-shadow: 15px 0px 30px #939393;
 
}


.img-txt:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
   filter: grayscale(80%);
}

.img-txt {
  overflow: hidden;
}


.title-acercademi{
  background:rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0.5;
  margin-left: 34.8rem;
  width: 65%;  
  height: 200px;
  margin-top:-200px;
  box-shadow: 15px 0px 30px #939393;

}

.title-acercademi .title{
  width: 50%; 
  color: white;
  display: inline-block;
 /* outline: 2px solid red;*/
  margin-left: 37%;
  padding: 2rem;
  color: white;
}

@keyframes cambio{
  0% { margin-left: 0;}
  20% { margin-left: 0;}
  40%{ margin-left:-100%;}
  60%{ margin-left:-100%;}
  80% { margin-left: -200%} 
  100% { margin-left: -200%}
}

.dateImg{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: -20%;
  color: white;

}
.btn-f{
  font-size: 2rem;
  margin: 0.5rem;
  }
.btn-f a{
  color: #081c24;
  background: #eaf8f2;
  padding: 1rem;
  border-radius: 70%;
}
.btn-f a:hover {
  color: #01d277;
  
}
.position-footer{
  display: inline-block;
  position: absolute;
  top:1%;
 

}
/**Date de Footer***/
  .container-footer-date{
  position: absolute;
  display: inline-block; 
  right:0rem;

}

.container-footer-date ul {
  float: left;
  margin-left: 4rem;
  line-height: 3rem;
}
.container-footer-date ul li a:hover {
  color: #01d277;
}


/**************************************
MEDIA QUERY
***************************************/

@media only screen and
 (min-device-width: 250px) and 
 (max-device-width: 767px) {
.container-menu {
  position: fixed;
  background-color: #017d7b;
  width: 25%;
  height: 900px;
}


.img1{
  width: 6rem;
  height: 10rem;
  margin: 0;
   
}
.img2 {
  width: 1.5rem;
  height:4rem;
  margin: 0;
  padding: 0;
}
.img3 {
  width: 1.1rem;
  height:5rem;
  margin: 0;
  padding: 0;
}
.img4 {
   width: 2rem;
   height:5rem;
  margin: 0;
  padding: 0;
}
.img5 {
  width: 1rem;
  height:7rem;
  margin: 0;
  padding: 0;
}
.img6 {
  width: 3.5rem;
  height:5rem;
  margin: 0;
  padding: 0;
  
}
  .text-animation {
    list-style: none;
   position: absolute;
    left: 30%;
    top: 50%;
    transform: translateX(-35%) translateY(-50%);
  }
.text-animation li {

  margin-left: 0px;

}
.container-animation {
 position: absolute;
  left: 30%
  top: 2%;
  width: 80%;
  height: 400;
  text-align: center;
}
.text-animation li { 
  font-size: 2em;
 
}
}

@media only screen and 
(min-device-width: 768px) and 
(max-device-width: 1127px) {

  
}