*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(209, 236, 236);
  /*overflow-x: hidden;
  overflow-y:hidden
  font-family: 'Amaranth', sans-serif;*/
  font-family: 'Sarala', sans-serif;
  
}

/**************************************
Stylos de menu
color:#d9ab0b
mostaza:#f3d75,#e9bf1f
2e2b26
**************************************/
.row{
  padding:0px;
  margin:0px;

}
.fondo{
  background-image: url('../assets/img/UX-Desginer-.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

        
}
.lamina{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}
.col-xs-3{
  margin: 0px;
  padding: 0px;
}
.container-menu{
  position:fixed;
  background-color:#012138;
  width: 18%;
  height: 1500px;
  z-index: 9999;
  color:#e9bf1f;
 /*  outline: 2px solid red;*/
 
}
.space-menu {
  margin: 0px;
/*  outline: 2px solid red;*/
}

.title-menu{
  margin-top:5rem;
}
.img-menu{
  background-color:#012138;
  border-radius: 180px;
  width: 150px;
  height:150px ;
}
.list-menu{
  padding: 2rem;
  line-height: 3rem;
  background-color: 34474e;
  list-style: none;

}

.list-menu li a{
  /*outline:2px solid red;*/ 
  display: inline-block;
  width: 100%;
  text-decoration:none; 
  color: #e9bf1f;
  }

.list-menu li{
  border-radius: 0px 20px 20px 0px;
  background-color: #012138; 
  margin: 1rem 2rem 1rem 2rem;
  width: 60%;
  box-shadow: 5px 0px 10px #ffff;
  -webkit-transition: padding-left 0.6s;  
}

.list-menu li:hover{
  background-color: #e9bf1f;
  color: #012138;
  padding-left: 1.8rem; 
  width: 90%;
    -webkit-transition: padding-left 0.6s;
}

.list-menu li a:hover {
  color: #012138; 
}

/**************************************
Stylos de animacion inicial
**************************************/
.container-animation{
  position: relative;
  width: 95%;
  height: 690px;
  text-align: center;
  padding: 0;
  margin: 0;
/*  outline: 2px solid red;*/

}

.text-animation{
  width: 85%;
  list-style: none;
  /*outline: 2px solid blue;*/
  position: absolute;
  left:42%;
  top:30%;
  transform: translateX(-43%) translateY(-50%);
}
.text-animation li{
  display: inline-block;
  margin-left: 9px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 5em;
  color: #e9bf1f;
  opacity: 1;
  transition: all 2s ease;
}
.text-animation li:last-child{
  margin-right: 0;
}
.text-animation.hidd{
opacity: 1;
}
.text-animation.hidd li:nth-child(1) {transform: translateX(-180px) translateY(-60px);}
.text-animation.hidd li:nth-child(2) {transform: translateX(20px) translateY(100px);}
.text-animation.hidd li:nth-child(3) {transform: translateX(-150px) translateY(-80px);}

.img1 {
  width: 100%; 
  margin: 0;
}

.img2 {
  width: 100%;
  margin: 0;
}

.title1{
  position: relative;
  width: 85%;
  margin-top:-35%;
  font-size: 1.5rem;
  color: white;
  top:-100%;
  /*outline: 2px solid red;*/
}

/***********************************************
trabajos
******************************/


/**************************************
skill
***************************************/
.container-skill{
  position: relative;
}
.img-fondo{  
  position: relative;
  background-image: url('../assets/img/ux-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.img-skill{  
  width: 100%;
  height: 19rem; 
  border-radius: 2rem;
/*  outline: 2px solid red;*/
}

.img-skill img{
  display:inline-block;
  width: 70%;
  padding: 2rem;
  margin:3rem;
  border-radius: 2rem;
  box-shadow: 15px 0px 30px #939393;
}
.title-skill{ 
  position: absolute;
  color:white;
  display: inline-block;
  width: 70%;
  height: 170px;;
  bottom: 3%;
  left: 12%;
   
/*  outline: 2px solid blue;*/
   
}
.img-skill .color1{

  position: relative;
  color: white;
  left: 12%;
  top:-97%;
  display: inline-block;
  text-align: center;
  
}
.color1:hover {
  visibility: visible;
}

.title-skill:hover {
  color: #e9bf1f;
  bottom: -5%;
  width: 100%;
  height: 30vh;
  text-align: center;
  left: 1%;
  font-size: 2rem;
 
}

.container-contact{
  position: absolute;
}

.title-contacto{
  color: white;
  padding: 2rem;
}
/**************************************
MEDIA QUERY
***************************************/

@media only screen and
 (min-device-width: 250px) and 
 (max-device-width: 767px) {

  /*****************************/

.img-menu{
  border-radius: 100px;
  width: 100px;
  height:100px;
}

.list-menu{
  padding:0;
  font-size: 1rem;
}

.list-menu li{
  width: 100%;
}

.list-menu li:hover{ 
  padding-left: 1.2rem;
  width: 9rem; 
}


/******************inicio**************************/
.text-animation {
  margin-top: -65%;
 /* outline: 2px solid red;*/
}

.title1 {
  margin-top: -150%;
  font-size: 1rem;
  /*outline: 2px solid red;*/
}
/******************trabajos*************************/
.title-warmi p{
  font-size: 1.1rem;
}
.slides{
  position: relative;
 left: 10%;
  
}


/********Animacion*************/

.text-animation {
  width: 90%;  
  left: 40%;
  top: 50%;
 
}
.img1 {
  width: 100%;
}

.img2 {
  width: 100%;
}

.text-animation li {
  font-size: 2rem;
}

/*********************skill****/

.img-skill {
padding:0;
margin: 0;
height: 7rem;
width: 70%;
/*outline: 2px solid red;*/

}

.img-skill img {
  display: inline-block;
  margin:0px;
  padding: 1rem;
  width: 100%;
 /* outline: 2px solid blue*/
 
}
.container-contact {
  position: relative;
}

.title-skill,.color1{
  font-size: 1rem;
  padding: 2rem;
  margin-bottom:-100%;
}
.color1{
  visibility: hidden;
}
}

@media only screen and 
(min-device-width: 453px)
and (max-device-width: 768px) {
.skil{
  position: relative;
  display: inline-block;
  margin-left:15%;
  width: 70%;
  height: 350px;
 /* outline: 2px solid red;*/
}

.img-skill {
  margin-bottom: 10rem; 
  width: 100%;
  height: 15rem;
 }

.container-contact{
  position: relative;
  bottom: 50%;
  margin-top:100%;
}
/******************inicio**************************/

.text-animation {
  margin-top: -40%;
  /*outline: 2px solid red;*/
}

.title1 {
  margin-top: -80%;
  font-size: 1rem;
  /*outline: 2px solid red;*/
}
 }

@media only screen and 
(min-device-width: 768px) and 
(max-device-width: 1024px) {

.img-menu{
  border-radius: 100px;
  width: 100px;
  height:100px;
}

.list-menu{
  padding:0;
  font-size: 1.2rem;
}

.list-menu li{
  width: 75%;
}

.list-menu li:hover{ 
  padding-left: 1.2rem; 
}

/********Animacion*************/

.text-animation {
  width: 90%;  
  left: 40%;
  top: 50%;
 
}
.img1 {
  width: 100%;
 }

.img2 {
  width: 100%;
}


.text-animation li {
  font-size: 5rem;
}
/******************inicio**************************/

.text-animation {
  margin-top: -20%;
 /* outline: 2px solid red;*/
}

.title1 {
  margin-top: -50%;
  font-size: 1.2rem;
  /*outline: 2px solid red;*/
}
.skil {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left:0%;
  height: 350px;
  /* outline: 2px solid red;*/
}

.img-skill {
  margin-bottom: 10rem;
  width: 100%;
  height: 15rem;
}

}