*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

/*BORDER START MOVIE*/
.navbar-inverse .navbar-brand { 
   display: inline-block;
   color: #01d277;
   font-size: 3rem;
   margin: 1rem;  
 }

 .nav-logo {
   font-size:5em;
 }

 /*opaciodad a letras*/
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>li>a {  
  margin: .5rem;
  border-radius: 7%;
  padding: 1rem;
  
}
.navbar-inverse{
  background-color: #081c24;

}

.navbar-inverse .navbar-nav>li>a:hover {
  border-bottom:1px solid #01d277;
  opacity: 0.4; 
  margin: .5rem;
  border-radius: 7%;
  padding: 1rem;
  font-size: 1.7rem;
  
}

.user {
  width: 5%;
  border-radius: 100%; 
  padding: 1rem;
  margin: 1rem;
  border: 1px #01d277 solid;
}

.link {
 text-decoration: none;
 color:white;
}

.link:hover {
  color:white;
 }

 .link:active{
   background-color: #e25822;
 }

.sign-out{
  color:white;
}
  
.sign-out:hover{
  color: #01d277;
  text-decoration: none;
  outline:none;
}

.sign-out:active{
  color: #01d277;
  text-decoration: none;
  outline:none;
}

/*Seccion body*/

.video{
   width:560px;
    height:200px
}
.space{
  margin-top:20rem;
}
.space1 {
  margin-top: 5rem;
}

/* Sección mobile navbar */

.arrow {
    color: white;
}

arrow:active {
    color: #01d277;
    background-color: transparent;
    border: 2px solid outline; 
}

.transparent{
  background-color: #081c24;
  opacity: 0.8;
}

.navbar-inverse .navbar-nav>li>a:hover {
  border-bottom:1px solid #01d277;
  color: #01d277;
  opacity: 0.8; 
  margin: .5rem;
  border-radius: 7%;
  padding: 1rem;
  font-size: 1.8rem;
  }
  
/* TÍTULO: Nombre - Foto */

.user-name {
 display:inline-block;
 margin-top: 5em;
 font-size: 28px;
}

.user {
width: 3.5em;
border-radius: 100%; 
padding: 0.8em;
margin-top: 9.3em;
border: 1px solid #01d277;
}

/*BOTON - Recomendación*/

.button {
color: #f2f3f4;
background-color: #01d277;
border: none;
}

.button:hover{
color: #01d277;
background-color: transparent;
border: 2px solid #01d277;
}

.button:active {
color: #f2f3f4;
background-color: #01d277;
border: none;
}

.white {
text-decoration: none;
color:white;
}

.white:active{
text-decoration: none;
color:white;
}

/* Div container fotos*/

.border-container{
background-color: transparent;
border: 5px dotted #01d277;
padding: 28em;
margin-bottom: 4.2em;
}

/* Imagen de logo */
.img-logo {
  vertical-align: middle;
  width: 130px;
  margin-top: -2rem;
}

/*Footer*/
.background{
  background-color: #081c24;
  color: white;
}

.img-movie{
  height: 200px;
}