
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(209, 236, 236);
  
}

.container-works{
  position: relative;
  margin-left: 2rem;
 /* left: 30%;*/
  font-family: 'Courgette', cursive;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  /* overflow: hidden;
  outline: 2px solid red;
  */
}

.title-warmi{
  padding: 3rem;
   /* outline: 2px solid red;*/
}


.slides {
  width: 100%;
  margin-left: -3rem;/***********************/
}

.slides img {
  width: 100%;
}

.slidesjs-pagination {
  background: #e9bf1f;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
}

.slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.slidesjs-pagination li a:hover {
  background: #012138;
}

.slides .active {
  background: #012138;
}

.slidesjs-navigation {
  background: #012138;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  float: right;
}

@media only screen 
and (min-device-width: 250px) 
and (max-device-width: 767px) {
  .main {
    width: 100%;
    }
.slides{
  font-size: 1rem; 
}
.slidesjs-navigation { 
  padding: 0.5rem;  
}
.slidesjs-pagination li a {
  padding: 0.5rem; 
}
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) {
  .main {
    width: 80%;
  }

  .slides {
    font-size: 1.5rem;
  }

  .slidesjs-navigation {
    padding: 1rem;
  }

  .slidesjs-pagination li a {
    padding: 1rem;
  }

}
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) {
    .main {
      width: 80%;
    }

    .slides {
      font-size: 1.5rem;
    }

    .slidesjs-navigation {
      padding: 1rem;
    }

    .slidesjs-pagination li a {
      padding: 1rem;
    }

    }
