*{
  margin: 0;
  padding: 0;
}

.btn-f {
  display: inline-block;
  padding: .5rem;
  margin: .5rem;
  font-size: 2.5rem;
  background-color: white;
  border-radius: 15%;
}

.btn-f a {
  color: #081c24;
  padding: 1rem;
}

.btn-f a:hover {
  color: #e9bf1f;
}

.container-icon {
  margin: 100px auto;
  outline: 2px solid red;
}


/*******************************************************************/
@media only screen 
and (min-device-width: 250px) 
and (max-device-width: 767px) {

.img-skill{
  margin: .5rem;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) {
  .main {
    width: 80%;
  }
  .slides {
    font-size: 1.5rem;
  }
  .slidesjs-navigation {
    padding: 1rem;
  }
  .slidesjs-pagination li a {
    padding: 1rem;
  }
}

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) {
  .main {
    width: 80%;
  }
  .slides {
    font-size: 1.5rem;
  }
  .slidesjs-navigation {
    padding: 1rem;
  }
  .slidesjs-pagination li a {
    padding: 1rem;
  }
}