<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/home.css">
   
</head>
<body>
                           
<!--***** Navbar *********-->
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
      <div class="container">
        <div class="text-right">
          <button type="submit" class="btn btn-primary btn-register link">
            <a class="link" href="../views/login.html">Register Now </a>
         </button>
         <a href="../views/profile.html"> <img src="../assets/img/user.png " class="perfil user" alt="" ></a>
          <a class="sign-out" id="sign-out" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>
      </div>
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain" >
        <span class="glyphicon glyphicon-chevron-right"></span>        
        </button>
        <img class="img-reponsive nav-logo" src="../assets/img/logo4.png" alt="">
      <!-- <a class="navbar-brand" href="#" class="title-nav">STATION MOVIE</a>-->
      </div>
      <div class="collapse navbar-collapse " id="navMain" >
        <ul class="nav navbar-nav pull-right txt-sm-nav">
          <li class="active" title="Home"><a href="#">Home</a></li>
          <li><a href="#" title="Premier">Premier</a></li>
          <li><a href="#" title="Generos">Genre</a></li> 
          <li><a href="#" title="ContactUs">Contact Us</a></li>
          <li><a href="foro.html" title="ContactUs">Foro</a></li>  
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Seccion01-->
<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
          <h3 class="text-center">Search For Any Movie</h3><a href="movie-first.html">add list</a>
          <form id="searchForm">
            <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Lista de peliculas-->
<section class="container space1">
  <div class="row" id="movies">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="video-space">
        <div >
          <iframe class="img-responsive video" src="https://www.youtube.com/embed/XF2cUhfxhs4" frameborder="0" allow=""
            allowfullscreen></iframe>
        </div>
      <div class="space-movie">
        <h3>Deapool</h3> <hr>
          <p class=" txt-sm-body">Deadpool (película) Deadpool es una película de superhéroes estadounidense basada en el personaje de Marvel Comics del mismo
          nombre y dirigida por Tim Miller. ... Sin embargo, en marzo de 2005, New Line Cinema puso la película en cambio y 20th Century
          Fox se interesó</p>
          <ul class=" txt-sm-body">
            <li><a href=""></a> Pais: EEUU</li>
            <li><a href=""></a> Genero: Comedio</li>
            <li><a href=""></a> Estreno : Abril 2018</li> 
            <li><a href=""></a> Puntuacion</li>
          </ul>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="video-space" >
        <div >
        <iframe class="img-responsive video" src="https://www.youtube.com/embed/D_hxHlORX1I" frameborder="0" allow=""
          allowfullscreen></iframe>
        </div>
        <div class="space-movie">
        <h3>Los minions3</h3> <hr>
        <p class="txt-sm-body">Minions (en español: Los Minions) es una película de animación.​ Es producida por Illumination Entertainment como un spin-off
        de las películas Mi Villano Favorito y Mi Villano Favorito 2 basado en los minions (aunque también se considera una precuela
        de las historias anteriores).</p>
        <ul class="txt-sm-body">
          <li><a href=""></a> Pais: EEUU</li>
          <li><a href=""></a> Genero: Anime</li>
          <li><a href=""></a> Estreno : Abril 2016</li>
          <li><a href=""></a> Puntuacion</li>
        </ul>
        </div>
      </div>
    </div>  
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="video-space">
      <div >
      <iframe class="img-responsive video" src="https://www.youtube.com/embed/D6HpR7umnps" frameborder="0" allow="" allowfullscreen></iframe>
      </div>
      <div class="space-movie">
        <h3>Transformers: el último caballero</h3> <hr>
      <p class="txt-sm-body">Transformers: el último caballero es una película de ciencia ficción y acción estadounidense, basada en la línea de juguetes
      Transformers.</p>
      <ul class="txt-sm-body">
        <li><a href=""></a> Pais: EEUU</li>
        <li><a href=""></a> Genero: Comedio</li>
        <li><a href=""></a> Estreno : 20 de junio de 2017</li> 
        <li><a href=""></a> Director: Michael Bay</li>
      </ul>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="video-space" >
      <div >
        <iframe class="img-responsive video" src="https://www.youtube.com/embed/9ZqFrtQTyzI" frameborder="0" allow="" allowfullscreen></iframe>
      </div>
      <div class="space-movie">
      <h3>Jurassic World: Mundo Jurásico</h3> <hr>
      <p class="txt-sm-body">Jurassic World​ es una película estadounidense de ciencia ficción y aventuras estrenada en 2015, cuarta entrega de la franquicia
      de Parque Jurásico</p>
      <ul class=" txt-sm-body">
        <li><a href=""></a> Pais: EEUU</li>
        <li><a href=""></a> Genero: Ficcion</li>
        <li><a href=""></a> Estreno : 11 de junio de 2015</li>
        <li><a href=""></a> Director: Colin Trevorrow</li>
      </ul>
      </div>
      </div>
    </div>
    </div>  
</section>
<footer class=" color-fondo" >
  <!--silider-->
  <div class="container-fluid ">
  <div class="row ">
    <div class="col-xs-12 ">
      <div class="slider ">
        <ul>
          <li><img class="img-responsive" src="../assets/img/footer.jpg" alt=""></li>
           <li><img class="img-responsive" src="../assets/img/footer11.jpg" alt=""></li>
           <li><img class="img-responsive" src="../assets/img/footer3.jpg" alt=""></li>
        </ul>
      </div>
    </div>    
  </div>
</div>
<!--iconos redes sociales-->
   <div class="container-fluid">
      <div class="row center-block ">
      <div class="col-xs-12 col-sm-12 dateImg">
        <div>
        <span class="btn-f"><a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>  
        <span class="btn-f"> <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></span>
        <span class="btn-f"> <a href=""><i class="fa fa-play" aria-hidden="true"></i></a></span>
        </div>
          <div class="container-footer-date" >
            <div>                  
            <ul class="relation-pag">
              <span>  Paginas Relacionadas</span>             
              <li> <a href="http://gnula.nu/accion/ver-annihilation-aniquilacion-2018-online/" target="_blank"> Gnula</a></li>
              <li> <a href="https://repelis.tv/idioma/espanol" target="_blank"> Repelis</a></li>
              <li> <a href="https://www.youtube.com/?gl=PE&hl=es-419" target="_blank"> Youtube</a></li>
              <li> <a href="https://www.ecartelera.com/peliculas/" target="_blank">eCartelera</a></li>                      
            </ul>
              <ul class="date-pag">  Datos de Interes
                <li> <a href="#" target="_blank"> Contac Us</a></li>
                <li> <a href="#" target="_blank"> Forma parte de nuestra comunidad</a></li>
                <li> <a href="#" target="_blank"> Eventos</a></li>
                <li> <a href="#" target="_blank"> Grupos</a></li>                          
              </ul>
            </div>
           
            <p class="text-center"> informesstationmovie@stationmovie.com</p>
            <hr>
            </div>    
          </div>      
        </div>    
      </div>
</footer>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Sign in</h4>
      </div>
      <div class="modal-body">
      <p class="text-center">Please, enter your e-mail and password below:</p>
      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email2" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Password">
        </div>
        <!-- añadiendo DIV en modal -->
        <div class="text-center">
          <p> or sign in using you Google Account! Click ont 'G+' </p>
          <a id="btnGoogle" class="btn btn-default button circle" href="#" role="button">G+</a>
        </div>
        <br>
      </form>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="login" class="btn btn-primary change-color" data-dismiss="modal">Sign In</button>
  </div>
</div>
</div>
</div>
<!-- Js de bootstrap-->
<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAeROLqslp1cXi__0KdRLQM04GaXWkMz28",
    authDomain: "movie-station-78f4e.firebaseapp.com",
    databaseURL: "https://movie-station-78f4e.firebaseio.com",
    projectId: "movie-station-78f4e",
    storageBucket: "movie-station-78f4e.appspot.com",
    messagingSenderId: "662232913624"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript" src="../js/login.js" ></script>
<script type="text/javascript" src="../js/home.js" ></script>
<script type="text/javascript" src="../js/movie.js" ></script>
</body>
</html>  